nav {
    background-color: rgb(53, 228, 182);
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.header-container {
    display: flex;
    margin-left: 100px;
}

.title {
    margin-top: 70px;
}

.box {
    margin-left: 100px;
    margin-bottom: 50px;
}
body {
    margin: 0;
    background-color:  #fffb90;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(53, 39, 39);
}

.money_data {
    display: flex;
    flex-direction: row;
}

.account_overview {
    margin-left: 350px;
    margin-right: 200px;
}

